@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background:
    linear-gradient(to right, transparent, black),
    url("../img/background.jpg") no-repeat center / cover;
  font-family: "Roboto-Bold", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  position: absolute;
  bottom: 1%;
  color: white;
  font-weight: bold;
}

.login_container {
  width: 100%; /* Por defecto en móviles */
  max-width: 700px; /* Tamaño máximo para escritorio */
  height: auto;
  min-height: 400px;
  background-color: rgba(247, 243, 238, 0.89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
  box-shadow: 2px 0px 10px black;
}

#logo_img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40%;
  height: auto;
}

h1 {
  position: absolute;
  top: 19%;
  font-size: 2rem;
  text-align: center;
  color: rgb(173, 20, 20);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
}

.input_field {
  position: relative;
  left: 3%;
  border: 0;
  background: transparent;
  border-bottom: 2px solid gray;
  padding: 8px 0;
  font-size: 1rem;
  transition: border-color 0.4s ease;
  width: 80%;
}

.input_field:focus {
  outline: none;
  border-bottom-color: rgb(173, 20, 20);
}

.login_btn {
  position: absolute;
  bottom: 50px;
  left: 5%;
  margin-top: 10px;
  height: 12%;
  width: 90%;
  background-color: rgb(173, 20, 20);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  transition: 0.3s;
}

.login_btn:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 10px black;
}
.user i,
.password i:first-child {
  color: gray;
}

#show_password {
  position: fixed;
  bottom: 45%;
  display: none;
}

.check_icon {
  position: absolute;
  cursor: pointer;
  font-size: 1.1rem;
}

#eye-open {
  display: none;
}

#show_password:checked ~ .check_icon #eye-closed {
  display: none;
}
#show_password:checked ~ .check_icon #eye-open {
  display: inline-block;
}

a {
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  color: grey;
  bottom: 4%;
  left: 25%;
  white-space: nowrap;
}

/* --- MEDIA QUERIES (Escritorio) --- */
@media (min-width: 1024px) {
  .login_container {
    width: 27vw;
  }
}

/* --- MEDIA QUERIES (Móviles pequeños) --- */
@media (max-height: 600px) {
  .login_container {
    min-height: 400px;
    padding: 20px;
  }
  #logo_img {
    width: 100px;
  }
  h1 {
    font-size: 1.5rem;
  }
}
