@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: url("../img/background.jpg") no-repeat center / cover;
  font-family: "Roboto-Bold", sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-toggle {
  background-color: transparent;
  color: white;
  outline: none;
  position: fixed;
  top: 0vh;
  left: 0vw;
  display: none;
}

.top {
  background-color: #302a2abb;
  position: fixed;
  height: 10%;
  width: 100%;
  z-index: 100;
  top: 0;
}
#bars {
  position: fixed;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  width: 3.5%;
  filter: invert(100%);
  z-index: 110;
}

ul {
  list-style-type: none;
}
.menu {
  position: fixed;
  font-size: 17px;
  background-color: #302a2abb;
  height: 100%;
  width: 17%;
  left: -250px;
  transition: 0.3s;
  top: 10%;
  z-index: 100;
}

.menu a {
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 20px;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #ad1414;
  font-size: 1.1rem;
  padding-left: 30px;
}
.menu-toggle:checked ~ .menu {
  left: 0;
}

#log-out {
  position: fixed;
  top: 2%;
  width: 2.2%;
  z-index: 100;
  filter: invert(100%);
  right: 2%;
}

#here {
  background-color: #ad1414;
  font-size: 1.1rem;
  padding-left: 30px;
}
.search {
  position: absolute;
  bottom: 6.5%;
  left: 1%;
  width: 60%;
  height: 7%;
  background-color: rgba(250, 250, 250, 0.95);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.search form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.searcher {
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 10px;
  border: 1px solid #ddd;
  color: #333;
}

.search-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

#search {
  transform: scale(0.09);
}

#search:hover {
  transition: 0.3s;
  transform: scale(0.1);
}

#type-solicited {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  color: #333;
  border: 1px solid #ddd;
  margin-right: 10px;
}

#type-solicited:hover {
  transition: 0.3s;
  background-color: #d6d5d5;
}

.searcher:hover {
  background-color: #d6d5d5;
  transition: 0.3s;
}

.searcher:focus {
  background-color: white;
  transition: 0.3s;
  color: black;
  border: 2px solid #3f3838;
}

.head {
  position: absolute;
  top: 15%;
  left: 1%;
  border-radius: 10px;
  background-color: #ad1414ef;
  text-align: center;
  width: 60%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  height: 8%;
  z-index: -1;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.925);
  color: #333;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  bottom: 15%;
  left: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 1.7%;
  color: white;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background-color: #ad1414;
  font-size: 0.85rem;
  text-align: left;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  border-right: none;
  border-left: none;
  border-top: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ffeaea;
  transition: 0.2s;
}

.permisse,
.vacation {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.925);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #302a2a;
  width: 36%;
  height: 30%;
  border-radius: 25px;
  border-left: 5px solid #ad1414ef;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  align-items: center;
}

.permisse {
  right: 2%;
  top: 15%;
}

.vacation {
  right: 2%;
  top: 47%;
}
.permisse label,
.vacation label {
  position: absolute;
  font-size: 1.1rem;
  color: #ad1414;
  font-weight: bold;
  top: 3%;
}

.table::-webkit-scrollbar {
  width: 8px;
}

.table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
  background: #ad1414ef;
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb:hover {
  background: #8a0f0f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  cursor: default;
  z-index: 200;
  visibility: hidden;
  transition: 0.1s;
}
.modal-master {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
  z-index: 500;
}

.modal-master:target {
  opacity: 1;
  visibility: visible;
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal-box {
  position: relative;
  background: #f7f3ee;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  border-top: 8px solid #ad1414;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transform: scale(0.8);
  transition: 0.1s;
}

.modal-master:target .modal-box {
  transform: scale(1);
}

.modal-header {
  text-align: center;
  color: #ad1414;
  margin-bottom: 20px;
}
.modal-header i {
  font-size: 2.5rem;
}
.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.input-group input,
.input-group select {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}
#departament {
  width: 65%;
}
.confirm-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ad1414;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close-x {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #999;
}
.close-x:hover {
  background-color: transparent !important;
  color: #ad1414 !important;
  transform: none !important;
}

.btn-solicitud {
  position: absolute;
  height: 25%;
  left: 20%;
  bottom: 30%;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin: 10px;
  transition: 0.1s;
  background-color: #ad1414;
}

.btn-solicitud:hover {
  transition:
    transform 0.2s,
    background-color 0.3s;
  background-color: #8a0f0f;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(173, 20, 20, 0.3);
}

.master-mppt {
  max-width: 650px !important;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.master-mppt label {
  font-size: 0.75rem !important;
  color: #333;
  font-weight: bold;
  margin-bottom: 3px;
}

.master-mppt input,
.master-mppt textarea,
textarea {
  border: 1px solid #bbb !important;
  background-color: white !important;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  resize: none;
  outline: none;
}

.check-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.check-item label {
  font-size: 0.65rem !important;
  color: #333;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #ad1414;
}

.confirm-btn {
  background-color: #ad1414;
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.master-mppt-vaca {
  max-width: 750px !important;
  max-height: 95vh;
  overflow-y: auto;
}

.master-mppt-vaca .form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.master-mppt-vaca label {
  font-size: 0.65rem !important;
  color: #333;
  font-weight: bold;
  margin-bottom: 2px;
}

.master-mppt-vaca input,
.master-mppt-vaca select,
.master-mppt-vaca textarea {
  padding: 6px 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 100%;
}

.vaca-period-container {
  border: 1px solid #ad1414;
  border-radius: 8px;
  margin: 15px 0;
  overflow: hidden;
}

.vaca-row-header {
  background-color: #ad1414;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.checkbox-group-vaca {
  display: flex;
  padding-top: 3%;
  justify-content: center;
  text-align: center;
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.checkbox-type-employed {
  position: absolute;
  right: 10%;
  display: flex;
  padding-top: 3%;
  border-left: 1px solid #ddd;
  cursor: pointer;
  accent-color: #ad1414;
}
